/* messages */
ul.messages {
    padding: 0;
    list-style-type: none;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

ul.messages li.success { background: #a5a5a5; }
ul.messages li.success a { color: #ffffff; }

ul.messages li.error { background: #a30029; color: #e9828e; }
ul.messages li.error a { color: #e9828e; }

ul.messages li.info { background: #faffae; color: #696b4e; }
ul.messages li.info a { color: #1586de; }

ul.messages li.warning { background: #de9404; }
ul.messages li.warning a { color: #f49000; }

ul.messages li a.close {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

h2 {
    font-weight: normal;
    margin: 30px;
    color: #6b6b6b;
}

.h3-post {
    font-weight: normal;
    color: #6b6b6b;
    margin-bottom: 1px;
}

.col-4 {
    margin-top: 30px;
    background-color: #e7e5e5;
    padding: 10px;
    border-radius: 5px;
}

.panel {
    margin-top: 30px;
}

.col-md-4 {
    background-color: #bfc5cb;
    border-radius: 5px;
    padding-bottom: 5px;
}

.project-title {
    margin-left: 2px;
    padding-top: 5px;
}

body {
    background-color: #dcdcdc;
}

.comment-url {
    color: black;
    text-decoration: none;
}

.col-4 > ul:nth-child(4) > li:nth-child(1) > a:nth-child(1) {
    color: #000000;
    text-decoration: none;
}

.col-4 > ul:nth-child(4) > li:nth-child(2) > a:nth-child(1) {
    color: #000000;
    text-decoration: none;
}

.col-4 > ul:nth-child(4) > li:nth-child(3) > a:nth-child(1) {
    color: #000000;
    text-decoration: none;
}

.posts {
    background-color: #eeeaea;
    border-radius: 5px;
    padding: 10px;
}

.col-8 {
    border-radius: 5px;
    margin-top: 30px;
}

.tags {
    margin: 1px;
}

.date {
    margin: 1px;
}

span.badge:nth-child(4) {
    background-color: #f9d18b;
}

span.badge:nth-child(8) {
    background-color: #f9d18b;
}

span.badge:nth-child(12) {
    background-color: #f9d18b;
}

.project-title {
    margin-left: -25px;
}
