{% extends "mysite/base.html" %}

{% load social_share %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}
  <p>
    <a href="{% url "mysite:post_share" post.id %}">
    Udostępnij post
    </a>
     {% post_to_facebook object_or_url "Udostępnij na Facebooku" %}
     {% post_to_linkedin "Udostępnij na LinkedIn." %}
  </p>
{% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Komentarz {{ forloop.counter }} dodany przez {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>Nie ma jeszcze żadnych komentarzy.</p>
  {% endfor %}
  {% include "mysite/post/includes/comment_form.html" %}
{% endblock %}
