{% extends "mysite/base.html" %}
{% load mysite_tags %}
{% load mysite_tags %}
{% load static %}
{% block title %}Strona Internetowa Piotra Karmelity{% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        <div class="card text-center">
            <div class="card-header">
                {% for post in posts %}
                <div class="posts">
                    <h3 class="h3-post">
                        <a href="{{ post.get_absolute_url }}">
                            <span class="badge badge-light">{{ post.title }}</span>
                        </a>
                    </h3>
                    <p class="tags">
                        <span class="badge badge-light"> Tagi:
                            {% for tag in post.tags.all %}
                            <a href="{% url "mysite:post_list_by_tag" tag.slug %}">
                                {{ tag.name }}</a>
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    </p>
                    <p class="date">
                        <span class="badge badge-dark">Opublikowany {{ post.publish }} by {{ post.author }} </span>
                    </p>
                    <span class="badge badge-warning">{{ post.body|markdown|truncatechars_html:50 }} </span>
                </div>
                {% endfor %}
                {% include "pagination.html" with page=posts %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <p class="list-group-item"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;
            Dotychczas opublikowałem {% total_posts %} posta. </p>
        <p class="list-group-item" ><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;
            Najczęściej komentowane posty {% get_most_commented_posts as most_commented_posts %}</p>

        {% for post in most_commented_posts %}
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i><a href="{{ post.get_absolute_url }}" class="comment-url"><span class="badge badge-light">{{ post.title }}</span></a><br></li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
