{% extends "mysite/base.html" %}

{% block title %}Edycja konta{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Edycja konta</h1>
<p>Ustawienia konta możesz zmienić za pomocą poniższego formularza:</p>
<form method="post" enctype="multipart/form-data">
    {% for field in user_form %}
    {{ field|as_crispy_field }}
    {% endfor %}
    {% for field in profile_form %}
    {{ field|as_crispy_field }}
    {% endfor %}
    {% csrf_token %}
    <p><input type="submit" value="Zapisz zmiany " class="btn btn-outline-dark"></p>
</form>
{% endblock %}