{% extends "mysite/base.html" %}
{% block title %}Dotychczasowe projekty{% endblock %}

{% block content %}
  {% for project in projects %}
    <div class="col-md-4">
      <h2 class="project-title">
        <span class="fa-stack fa-lg">
          <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
        </span>
        <span class="badge badge-secondary">{{ project.title }}</span>
      </h2>
      <p><h4><span class="badge badge-light">{{ project.description|slice:":10"|default:'' }}{% if project.description|length > 10 %}...{% endif %}</span></h4></p>
      <p><a class="btn btn-secondary" href="{% url 'mysite:project_detail' project.slug %}" role="button">Szczegóły &raquo;</a></p>
    </div>
  {% endfor %}
{% endblock %}
